@model ViewModel.TaskTableViewModel


<div style="font-weight:600;">Add new task</div>
<label>Task Name</label>
<div>@Html.TextBoxFor(x => x.taskName, new { @id = "taskname-id" })</div>
@Html.ValidationMessageFor(x => x.taskName)
<label>Description</label>
<div>@Html.TextBoxFor(x => x.description, new { @id = "description-id" })</div>
@Html.ValidationMessageFor(x => x.description)
<div style="visibility:hidden">@Html.TextBoxFor(x => x.taskId, new { @id = "taskid-id" })</div>


<div>
    <label>Task Current Status</label>
    <select name="taskStatus" class="select-2 col-lg-3" id="status-id">
        <option value="">select </option>
        @foreach (var item in Model.taskStatusList)
        {

            if (item.id == Model.taskStatus)
            {
                <option value="@item.id" selected>@item.text </option>
            }
            else
            {
                <option value="@item.id">@item.text </option>
            }

        }
    </select>


</div>

<div>
    <label>Assigneee</label>
    <select name="assigneeId" class="select-2 col-lg-3" id="user-id">
        <option value="">select </option>
        @foreach (var item in Model.userList)
        {

            if (item.id == Model.assigneeId)
            {
                <option value="@item.id" selected>@item.text</option>
            }
            else
            {
                <option value="@item.id">@item.text</option>
            }
        }
    </select>


</div>

<div style="margin-top:15px;">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" style=" float: right" ;>Close</button>
    <button type="button" id="submitid" onclick="ChekSelected(@Model.taskId)" class="btn btn-primary" style=" float: right;"> Update </button>

</div>

